[package]
name = "selium"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.71"
async-trait = "0.1.71"
bincode = "1.3.3"
bytes = "1.4.0"
chrono = "0.4.26"
futures = "0.3.28"
quinn = "0.10.1"
rustls = "0.21.5"
rustls-pemfile = "1.0.3"
serde = { version = "1.0.171", features = ["derive"] }
tokio = { version = "1.29.1", features = ["full"] }
tokio-util = { version = "0.7.8", features = ["codec"] }
