[Unit]
Description=Selium Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/selium-server \
    --bind-addr 0.0.0.0:7001 \
    --ca /etc/selium/ca.der \
    --key /etc/selium/server.key.der \
    --cert /etc/selium/server.der \
    -vvv
Restart=always
User=selium
Group=selium
StandardOutput=journal
StandardError=journal
SyslogIdentifier=SeliumServer

[Install]
WantedBy=multi-user.target
