name: Audit

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  audit:
    name: Security audit
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install cargo audit
        run: cargo install cargo-audit

      - name: Audit crates
        run: cargo audit -D warnings -D unmaintained -D unsound -D yanked
