name: Audit

permissions:
  contents: read

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  audit:
    name: Security audit
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
      - uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Install cargo audit
        run: cargo install cargo-audit

      - name: Audit crates
        run: cargo audit -D warnings -D unmaintained -D unsound -D yanked
