name: Check Release PR

on:
  pull_request:
    branches:
      - release
    types:
      - opened
      - reopened
      - synchronize

jobs:
  changelog:
    name: Check Changelog Entry
    strategy:
      matrix:
        name: [client, server, tools, protocol, standard]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get crate version
        id: version
        run: echo value=$(sed -ne 's/^version = "\(.*\)"/\1/p' < ${{ matrix.name }}/Cargo.toml) >> $GITHUB_OUTPUT

      - name: Check changelog
        run: python ci/changelog.py ${{ matrix.name }} ${{ steps.version.outputs.value }}
