name: Draft the release

on:
  push:
    branches:
      - main
      - hotfix

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
      - uses: itpetey/breezy@bb65a07f3ed4778279c6908d32cc72dbef642b34 # v0.4.0
        with:
          language: rust
